footer.footer-box {
    background: url("./../src/img/bg-wire.svg") center;
    display: flex;

    .footer-box__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .footer--box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            small {
                padding: 10px;

                span {
                    @include breakpoint(mobile) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}