footer.footer-box {
    background-color: $ltGray;
    display: flex;
    position: relative;

    .footer-box__container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        small {
            padding: 10px;

            span {
                @include breakpoint(for-tablet-up) {
                    flex-direction: column;
                }
            }
        }
    }

}
// btt
.back-to-top {
    display: none;
    background-color: $blue;
    background-image: linear-gradient(120deg,$blue,#159957);
    position: fixed;
    padding: 10px;
    right: 0;
    bottom: 0;
    margin: 5px;
    z-index: 20;
    &.show {
        display: flex;
    }

    svg {
        fill: $white;
        @include breakpoint(mobile) {
            width: 30px;
            height: 30px;
        }
    }
}