.header-box {
    grid-area: header-box;
    position: relative;
    z-index: 6;
    width: 100%;
    display: flex;

    .header-box__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        // navigation ***
        overflow: hidden;

        .header-logo {
            a {
                display: flex;
                img {
                    max-width: 100%;
                    height: 75px;
                }
            }
        }

        nav.header-nav {
            position: relative;
            display: flex;
            align-items: center;
            background-color: rebeccapurple;
            ul.header-nav__container {
                display: flex;
                position: absolute;
                background: #212020;
                height: 100%;
                align-items: center;
                right: 60px;
                transition: all 0.3s ease-in-out;
                transform: translateX(9999px);
                li {
                    a {
                        display: flex;
                        font-size: 20px;
                        padding: 10px;
                        color: $white;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }

            ul.header-nav__container.active {
                transform: translateX(0px);
            }

            // hamburger icon
            .botton-nav {
                position: relative;
                width: 60px;
                height: 60px;
                background: $ltGray;
                cursor: pointer;
                padding: 5px;
    
                @include breakpoint(tablet) {
                    // display: none;
                }
                @include breakpoint(mobile) {
                    // display: flex;
                }
    
                .line {
                    height: 5px;
                    background: $dkGray;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 1s ease-in-out;
    
                    &:before {
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 40px;
                        top: 15px;
                        z-index: 222;
                        background: $dkGray;
                        transition: all 1s ease-in-out;
                        -webkit-transition: all 1s ease-in-out;
                        }
                        &:after {
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 40px;
                        bottom: 15px;
                        z-index: 222;
                        background: $dkGray;
                        transition: all 1s ease-in-out;
                        -webkit-transition: all 1s ease-in-out;
                        }
                }
    
                
            }
            
            // activate
            .botton-nav.active > .line {
                background: #14428f;
            }
            .botton-nav.active > .line:before,
            .botton-nav.active > .line:after {
                background: indianred;
                right: 0;
                width: 40px;
            }
    
            .header-nav ul li a.nav-color {
                color: $dkGray;
            }
        }

    }
}

.sticky-active {
    position: fixed;
    background: #f5f5f5;
    color: $dkGray;
}
  
