h1 {
    font-size: 50px;
}
h2 {
    font-family: "ns", "Roboto", sans-serif;
    color: $ltGray;
    font-size: 20px;
    padding: 20px 0;
    padding: 20px 10px;

    @include breakpoint(for-desktop-up) {
        font-size: 40px;
    }
}
h3 {
    font-size: 30px;
    color: $ltGray;
}
h4 {
    font-size: 25px;
    color: $ltGray;
}
p {
    font-weight: 400;
    line-height: 1.75;
    text-align: justify;
    font-size: 1rem;
    padding: 10px;
    
    @include breakpoint(for-tablet-up) {
        font-size: 1.1rem;
    }
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
	color: #57b846;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
iframe {
	border: none !important;
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }
textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }
/*---------------------------------------------*/