@import "colors";
@import "mixins";
@import "icons";
@import "typography";
@import "global";
@import "fonts";
@import "header";
@import "footer";

html,
body {
    height: 100%;
    height: 100%;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
        "header-box header-box header-box header-box" 
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box";

    position: relative;
    z-index: 4;
    overflow: hidden;

    background-color: #cecece;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background: url("https://ik.imagekit.io/milanz/src/img/bg-main.jpeg") no-repeat;
    background-size: cover;

    &::after {
        content: "";
        background-color: rgba(12, 12, 12, 0.4);
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

}

////////////////////
// banner section
.banner-box { 
    grid-area: banner-box;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    @include breakpoint(for-desktop-up) {
        align-items: flex-end;
    }

    .wrapper-inner {
        width: 100%;
    }
}

.banner-box__container {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 5;

    transition: all 0.3s ease-in-out;

    align-items: center;
    justify-content: center;
}

.banner-box__container--item {
    z-index: 2;
    overflow: hidden;
    @include flexCHV;
    max-width: 300px;
    padding: 150px;

    @include breakpoint(for-tablet-up) {
        max-width: 700px;
        padding: 85px;
    }

    @include breakpoint(for-desktop-up) {
        flex: 1;
        background-size: cover;
        padding: 57px;
        max-width: 700px;
        min-height: 450px;                }

    img {
        max-width: 100%;
        height: auto;
    }
}

.banner-box__container--left {
    background: transparent url("./../src/img/mzLogo2020.svg") center no-repeat;
    background-size: cover;

    cursor: pointer;
    position: relative;

    @include breakpoint(for-tablet-up) {
        display: none;
    }

    @include breakpoint(for-desktop-up) {
        background: transparent;
        display: flex;
        align-self: flex-end;
    }

    .mobile-fe-top-left {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        justify-content: center;
        padding: 10px;

        background-color: #155799;
        background-image: linear-gradient(120deg, #155799, #159957);
        
        @include breakpoint(for-tablet-up) {
            display: none;
        }

        @include breakpoint(for-desktop-up) {
            display: none;
        }

        h3 {
            color: $white;
            font-size: 25px;
            font-family: 'gt', 'ns', sans-serif;
            letter-spacing: 1px;
        }

    }

    &:hover ~ .banner-box__container--right .hidden-code,
    &:focus ~ .banner-box__container--right .hidden-code {
        background-color: $white;
        visibility: visible;
        opacity: 1;
        transition: 
            visibility .3s linear 0s,
            opacity linear .3s,
            padding linear .3s;
    }

}

picture.desktop-img {
        
    img {
        @include displayHide;
        @include breakpoint(for-desktop-up) {
            display: flex;
            max-width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            bottom: -5px;
        }
    }
}

.banner-box__container--right {
    @include displayHide;
    
    @include breakpoint(for-tablet-up) {
        display: flex;
        background: url("./../src/img/bg-wire.svg") center; 
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        margin-bottom: 10%;
    }

    
    @include breakpoint(for-big-desktop-up) {
        margin-bottom: 15%;
    }
    
    h1 {
        font-family: 'gt', 'ns' sans-serif;
        color: $dkGray;
        font-size: 45px;
    }

    h2 {
        color: $white;
        background-color: $dkGray;

        background-color: #155799;
        background-image: linear-gradient(120deg, #155799, #159957);

        padding: 5px;
        font-size: 24px;
        line-height: 1.3;
        font-family: sans-serif;
        font-weight: 100;

    }

    .hidden-code {
        visibility: hidden;
        opacity: 0;

        background-color: $white;

        position: absolute;
        transition: 
            visibility 0s linear .3s,
            opacity .3s,
            padding .3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        p.hidden-code-content {
            position: relative;
            line-height: inherit;
            white-space: nowrap;
            border: none;
            height: 100%;
            overflow-y: hidden;
            margin: auto;
            font-size: 1rem;

            @include breakpoint(for-tablet-up) {
                padding: 1.8em 1em;
                font-size: 1.1rem;
            }
            @include breakpoint(for-desktop-up) {
                padding: 4em 1em;
                font-size: 1rem;
            }

            span, strong {
                color: $blue;
                font-weight: 700;
            }

            .hover-email {
                color: $ElectricRed;
            }

            &:hover .hover-email,
            &:focus .hover-email {
                color: $DeepGreen;
            }

        }

        @include breakpoint(for-tablet-up) {
            background: $white url("./../src/img/bg-wire.svg") center;
            visibility: visible;
            opacity: 1;
        }
        @include breakpoint(for-desktop-up) {
            background: $white;
            visibility: hidden;
            opacity: 0;
        }
    }

    &:hover .hidden-code,
    &:focus .hidden-code {
        cursor: pointer;
        background-color: $white;
        visibility: visible;
        opacity: 1;
        transition: 
            visibility 0s linear .3s,
            opacity .3s,
            padding .3s;
    }
}

////////////////////
// education box
.container-education {

    .acc {
        overflow: hidden;
        padding: 0;
        padding: 0 10px 0 10px;

        li {
            .acc_ctrl {
                display: flex;
                background: $white;
                border: none;
                border-bottom: solid 1px #F2F2F2;
                cursor: pointer;
                outline: none;
                position: relative;
                text-align: center;
                width: 100%;
                
                h2 {
                    color: $blue;
                    display: flex;
                    align-items: center;
                    font-family: sans-serif;
                    font-size: 20px;

                    svg {
                        height: 30px;
                        width: 30px;
                        margin: 0 30px 0 0;
                    }
                }
            }
              
            .acc_ctrl:before {
                background: $blue;
                content: '';
                height: 2px;
                margin-right: 10px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: rotate(90deg);
                transition: all 0.2s ease-in-out;
                width: 14px;
            }
              
            .acc_ctrl:after {
                background: $blue;
                content: '';
                height: 2px;
                margin-right: 10px;
                position: absolute;
                right: 0;
                top: 50%;
                width: 14px;
            }

            .acc_ctrl.active:before {
                transform: rotate(0deg);
            }
              
            .acc_ctrl.active h2, .acc_ctrl:focus h2 {
                position: relative;
            }

            .acc_panel {
                position: relative;
                padding: 5px;
                background-color: #155799;
                background-image: linear-gradient(120deg,#155799,#159957);
                display: none;
                overflow: hidden;
            }
        }
    }
}

.info-box {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint(for-tablet-up) {
        flex-direction: row;
    }

}

.info-box__item {
    flex: 1 1 calc(50% - 20px);
    background: white;
    
    p {
        line-height: 1.8;
        text-align: justify;
    }

}
.experience-box {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.experience-box__item {
    flex: 1 1 calc(50% - 40px);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    text-align: center;
}

img.education-box-left {
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.education-box-right {
    ul {
        h4 {
            span {
                color: $blue;
            }
        }

        h5 {
            color: $DeepGreen;
            padding-bottom: 2.5rem;
        }
        
        p {
            text-align: justify;
            a {
                color: $blue;
            }
        }
    }
}

.love-box {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.love-box__item {
    font-size: 1rem;
    line-height: 1.5;
    padding: 5px;
    flex: 1;
    background: #cecece;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

///////////////////////
// gallery box 
.gallery-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gallery-box-heading {

    .wrapper-inner {
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: flex-start;
        @include breakpoint(mobile) {
            justify-content: center;
        }
    }
}

.gallery-container {
    background-color: #155799;
    background-image: linear-gradient(120deg,#155799,#159957);
}

.gallery-item-container {
    display: flex;
    flex-wrap: wrap;
    .item-flex {
        position: relative;
        overflow: hidden;
        flex: 1 1 50%;
        
        &:last-child {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        
        @include breakpoint(for-desktop-up) {
            flex: 1 1 33.333%;   
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .item__overlay {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background-color: rgba(12,12,12,.5);
        
            transform: translateY(100%);
            transition: 0.2s;

            @include flexCHV;
            cursor: pointer;

            button {
                border: 2px solid white;
                color: white;
                text-transform: uppercase;
                background-image: linear-gradient(120deg,#155799,#159957);
                padding: 5px;
                cursor: pointer;
                @include flexCHV;
                outline: transparent;

            }
        }
    }

    .item-flex:hover .item__overlay,
    .item-flex:focus .item__overlay {
        transform: translateY(0);
    }

}

.close {
    background: none;
    color: black;
    border: 0;
    cursor: pointer;
    outline: transparent;

    display: flex;
    align-items: center;

    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background: aliceblue;
}

////////////////////
// overlay box
.overlay-box {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.overlay-box.open {
    display: flex;
    z-index: 7;
    justify-content: center;
    align-items: center;
}

.overlay-inner {
    background: white;
    width: 700px;
    height: auto;
    padding: 5px;
    position: relative;
    display: flex;

    @include breakpoint(for-desktop-up) {
        height: 600px;
    }
}

.overlay-box img {
    width: 100%;
}

///////////////////
// app box
.app-box {
    .wrapper-inner-full {
        .app-box__container {
            display: flex;
            flex-wrap: wrap;
            .app-box--item {
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                flex: 1 1 calc(100% - 40px);
                align-items: center;
                margin: 10px 10px 0 0;
                padding: 10px;
                background-color: $ltGray;
                cursor: pointer;
                
                @include breakpoint(for-tablet-up) {
                    flex: 1 1 calc(50% - 40px);
                }
                @include breakpoint(for-desktop-up) {
                    flex: 1 1 calc(33.333% - 40px);
                }

                a {
                    color: $white;

                    img {
                        transition: all 0.2s ease-in;
                    }
                }

                .app-box--item_ht {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(12,12,12,.5);
                    transform: translate3d(-1000px, 1000px, 1000px);
                    transition: all 0.3s ease-in-out;
                }

                &:hover > .app-box--item_ht,
                &:focus > .app-box--item_ht {
                    @include flexCHV;
                    transform: translate3d(0px, 0px, 0px);

                    .app__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin-right: 50px;
                        width: 100%;
                        padding: 10px;
                        background-color: $white;
                        h4 {
                            color: #155799;
                            padding: 5px;
                        }
                        em {
                            display: flex;
                            span {
                                background-color: $dkGray;
                                background-color: #155799;
                                background-image: linear-gradient(120deg,#155799,#159957);
                                color: $white;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/////////////////////
// links box
.links-box {
    background-color: #155799;
    background-image: linear-gradient(120deg,#155799,#159957);
    .wrapper-inner {
        .links-box__container {
            display: flex;
            margin: auto;
            width: 100%;
            flex-wrap: wrap;

            a.links-box__item {
                background: $white url("./../src/img/bg-wire.svg");
                overflow: hidden;
                position: relative;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                transition: flex .4s;
                flex: 1 1 calc(50% - 20px);
                
                @include breakpoint(for-tablet-up) {
                    flex: 1;
                }

                .overlay-links {
                    background:$white url("./../src/img/bg-wire.svg");
                    display: flex;
                    padding: 0 10px;
                    position: absolute;
                    top: 0px;
                    right: 0;
                    bottom: 0;
                    left: 0px;
                    transform: translateY(-90px);
                    transition: all 0.4s ease-in-out;
                    align-items: center;
                    justify-content: center;

                    .overlay-links__inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                        h2 {
                            padding: 0 10px 0 0;
                            color: $blue;
                        }
                    }

                }

                &:hover, 
                &:focus {
                    flex: 3;
                }

                &:hover .overlay-links,
                &:focus .overlay-links {
                    transform: translateY(0);
                }

            }
        }

    }
}

//////////////////////
// contact box
.contact-box {
    .wrapper-inner {

        .contact-box__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
            @include breakpoint(for-tablet-up) {
                flex-direction: row;
            }

            .contact-box__container--item {
                flex: 1 1 calc(50% - 40px);
                margin: 5px;
                padding: 10px;

                background-color: #155799;
                background-image: linear-gradient(120deg,#155799,#159957);
            }

            .contact-box__container--left {
                display: none;
                
                @include breakpoint(for-tablet-up) {
                    flex: 1;
                    background: #ffffff;
                    @include flexCHV;
                }
            }

            .contact-box__container--right {

                @include breakpoint(for-tablet-up) {
                    flex: 2;
                }

                .contact-box-form {
                    span.contact-box-form__title {
                        display: flex;
                        background-color: $blue;
                        text-transform: uppercase;
                        color: #fff;
                        font-family: ns,Roboto,sans-serif;
                        line-height: 1.2;
                        padding: 15px;
                        font-size: 17px;
                        justify-content: center;
                        align-items: center;

                        @include breakpoint(for-tablet-up) {
                            font-size: 24px;
                        }
                    }
                    .contact-box-input {
                        width: 100%;

                        .input1 {
                            width: 100%;
                            padding: 15px;
                            margin: 10px 0;
                        }    
        
                        // textarea
                        textarea.input1 {
                            min-height: 150px;
                        }
                    }

                    .contact-box-form__container {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        padding: 20px 0;
                        
                        @include breakpoint(for-tablet-up) {
                            padding: 20px 0 20px 20px;
                        }

                        button.contact-box-form__btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            background-color: rgba(20, 75, 143, 0.7);
                            color: $white;
                            padding: 5px;
                            transition: all 0.3s ease-in-out;
                            
                            @include breakpoint(for-tablet-up) {
                                width: 40%;
                            }

                            span {
                                font-family: "Roboto", sans-serif;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 10px;
                                span {
                                    padding: 0;
                                }

                                svg {
                                    height: 25px;
                                    height: 25px;
                                    fill: $white;
                                }
                            }
                        }

                        .hvr-sweep-to-right:before {
                            background: #155799;
                        }
                    }
                    
                }
            }
        }
    }
}

