@import "colors";
@import "mixins";
@import "icons";
@import "typography";
@import "global";
@import "fonts";
@import "header";
@import "footer";

html,
body {
    height: 100%;
    height: 100%;
}

body {
    font-size: 100%;
    position: relative;
    font-family: "Roboto" sans-serif;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
        "header-box header-box header-box header-box" 
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box"
        "banner-box banner-box banner-box banner-box";

    position: relative;
    z-index: 4;
    overflow: hidden;
}

///////////////////
// modal start
.modal-box {
    // hide modal
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;

    justify-content: center;
    align-items: center;
    .modal-box__container {
        position: relative;
        padding: 5px;
        background-color: $ltGray;     
        display: flex;
        max-width: 500px;
        flex-wrap: wrap;
        flex-direction: column;
    
        .modal-box__item {
            max-width: 500px;
            flex: 0 1 50%;
            @include flexCHV;

            @include breakpoint(mobile) {
                max-width: 300px;
            }

            p {
                color: $dkGray;
                font-size: 35px;

                @include breakpoint(mobile) {
                    font-size: 21px;
                }

                &:hover span {
                    color: indianred;
                }
            }

            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }

        }

        .closeBtn {
            position: absolute;
            top: 0;
            padding: 10px;
            right: 0;
            cursor: pointer;
            background: $white;

            svg {
                fill: #155799;
            }
        }
    }
}

////////////////////
// banner section
.banner-box { 
    grid-area: banner-box;

    background: url("./../src/img/laptopOnTheTable.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    position: relative;

    .wrapper-inner {
        .banner-box__content {
            flex-direction: column;
            display: flex;
            position: relative;
            z-index: 5;
            color: $white;

            .cta {
                background: rgba(255, 255, 255, 0.7);
                color: #000;
                text-decoration: none;
                font-size: 30px;
                text-transform: uppercase;
                padding: .4em;
                transition: all .1s ease-in-out;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: ns, Roboto, Montserrat, sans-serif;
                overflow: hidden;

                @include breakpoint(mobile) {
                    font-size: 20px;
                }

                .svg__icon--color {
                    fill: #000;
                    padding: 0 0 0 10px;
                }

                &:hover {
                    color: $blue;
                    background: #000;
                    &:hover .svg__icon--color {
                        fill: $blue;
                    }
                }
            }

            h1 {
                font-family: ns, Roboto, sans-serif;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 60px;
                order: -1;
                padding: 0 0 2px;

                @include breakpoint(mobile) {
                    font-size: 41px;
                }

                span {
                    color: #eee;
                    display: inline-block;
                    background: rgba(0, 0, 0, 0.7);
                    margin-bottom: 5px;
                    padding: 10px;
                    transition: all .1s ease-in-out;

                    @include breakpoint(mobile) {
                        padding: 10px
                    }
                }
            }
        }

        // banner text hover
        .banner-box__content .cta:hover ~ h1 span {
            color: #000;
            background: #fff;
        }
    }

    &::after {
        content: "";
        background-color: rgba(12, 12, 12, 0.5);
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.arrow-down-box { 
    // grid-area: arrow-down-box;

    align-self: center;
    position: absolute;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;

    .bounce-animation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background-color: $ltGray;
        border-radius: 50%;
        padding: 10px;
        line-height: 50px;
        margin: 5px;

        animation: bounce 5s infinite;
        transition: 0.5s ease-in-out;
      
        svg {
            fill: $blue;
            width: 30px;
            height: 30px;
        }
    }
    
    .bounce-animation:hover > svg {
        fill: #21a648;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }


////////////////////
// education box
section.education-box {
    .wrapper-inner {

        .container-education {

            .acc {
                overflow: hidden;
                padding: 0;

                @include breakpoint(tablet) {
                    padding: 0 10px 0 10px;
                }
                @include breakpoint(mobile) {
                    padding: 0 10px 0 10px;
                }

                li {
                    .acc_ctrl {
                        display: flex;
                        background: #FFFFFF;
                        border: none;
                        border-bottom: solid 1px #F2F2F2;
                        cursor: pointer;
                        outline: none;
                        position: relative;
                        text-align: center;
                        width: 100%;
                        
                        h2 {
                            color: $blue;
                            display: flex;
                            align-items: center;
                            font-size: 31px;

                            @include breakpoint(mobile) {
                                font-size: 20px;
                            }

                            svg {
                                height: 30px;
                                width: 30px;
                                margin: 0 30px 0 0;
                            }
                        }
                    }
                      
                    .acc_ctrl:before {
                        background: #156a85;
                        content: '';
                        height: 2px;
                        margin-right: 10px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: rotate(90deg);
                        transition: all 0.2s ease-in-out;
                        width: 14px;
                    }
                      
                    .acc_ctrl:after {
                        background: #156a85;
                        content: '';
                        height: 2px;
                        margin-right: 10px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 14px;
                    }

                    .acc_ctrl.active:before {
                        transform: rotate(0deg);
                    }
                      
                    .acc_ctrl.active h2, .acc_ctrl:focus h2 {
                        position: relative;
                    }

                    .acc_panel {
                        position: relative;
                        padding: 5px;
                        background-color: #155799;
                        background-image: linear-gradient(120deg,#155799,#159957);
                        display: none;
                        overflow: hidden;

                        p {
                            padding: 5px;
                            background: white;
                        }
                    }
                }
            }
        }
    }
}

///////////////////////
// gallery box 
.gallery-box {
    display: flex;
    flex-wrap: wrap;

    .wrapper-inner {
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: flex-start;
        @include breakpoint(mobile) {
            justify-content: center;
        }

    }
    

    .item-flex {
        position: relative;
        overflow: hidden;
        flex: 1 1 33.333%;   

        @include breakpoint(tablet) {
            flex: 1 1 50%;   
            &:last-child {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }

        @include breakpoint(mobile) {
            flex: 1 1 50%;   
        }      

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .item__overlay {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background-color: rgba(12,12,12,.5);
        
            transform: translateY(100%);
            transition: 0.2s;

            @include flexCHV;
            cursor: pointer;

            button {
                border: 2px solid white;
                color: white;
                text-transform: uppercase;
                background-image: linear-gradient(120deg,#155799,#159957);
                padding: 5px;
                cursor: pointer;
                @include flexCHV;
                outline: transparent;

            }
        }
    }

    .item-flex:hover .item__overlay {
        transform: translateY(0);
    }

}

.close {
    background: none;
    color: black;
    border: 0;
    cursor: pointer;
    outline: transparent;

    display: flex;
    align-items: center;

    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background: aliceblue;
}

////////////////////
// overlay box
.overlay-box {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.overlay-box.open {
    display: flex;
    z-index: 7;
    justify-content: center;
    align-items: center;
}

.overlay-inner {
    background: white;
    width: 700px;
    padding: 5px;
    position: relative;
}

.overlay-box img {
    width: 100%;
}

/////////////////////
// links box
.links-box {
    background-color: #155799;
    background-image: linear-gradient(120deg,#155799,#159957);
    .wrapper-inner {
        .links-box__container {
            display: flex;
            margin: auto;
            width: 100%;

            @include breakpoint(mobile) {
                flex-wrap: wrap;
            }

            a.links-box__item {
                background: $white url("./../src/img/bg-wire.svg");
                overflow: hidden;
                position: relative;
                flex: 1;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                transition: flex .4s;

                @include breakpoint(mobile) {
                    flex: 1 1 calc(50% - 20px);
                }

                .overlay-links {
                    background:$white url("./../src/img/bg-wire.svg");
                    display: flex;
                    padding: 0 10px;
                    position: absolute;
                    top: 0px;
                    right: 0;
                    bottom: 0;
                    left: 0px;
                    transform: translateY(-90px);
                    transition: all 0.4s ease-in-out;
                    align-items: center;
                    justify-content: center;

                    .overlay-links__inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                        h2 {
                            padding: 0 10px 0 0;
                            color: $blue;
                        }
                    }

                }

                &:hover {
                    flex: 3;
                }

                &:hover .overlay-links {
                    transform: translateY(0);
                }

            }
        }

    }
}

///////////////////
// app box
.app-box {
    .wrapper-inner {
        .app-box__container {
            display: flex;
            flex-wrap: wrap;
            .app-box--item {
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                flex: 1 1 calc(50% - 40px);
                align-items: center;
                margin: 10px 10px 0 0;
                padding: 10px;
                background-color: $ltGray;
                cursor: pointer;

                @include breakpoint(mobile) {
                    flex: 1 1 calc(100% - 40px);
                }

                a {
                    color: $white;

                    img {
                        transition: all 0.2s ease-in;
                    }
                }

                .app-box--item_ht {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(12,12,12,.5);
                    transform: translate3d(-1000px, 1000px, 1000px);
                    transition: all 0.3s ease-in-out;
                }

                &:hover > .app-box--item_ht {
                    @include flexCHV;
                    transform: translate3d(0px, 0px, 0px);

                    .app__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin-right: 50px;
                        width: 100%;
                        padding: 10px;
                        background-color: $white;
                        h4 {
                            color: #155799;
                            padding: 5px;
                        }
                        em {
                            display: flex;
                            span {
                                background-color: $dkGray;
                                background-color: #155799;
                                background-image: linear-gradient(120deg,#155799,#159957);
                                color: $white;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//////////////////////
// contact box
.contact-box {
    background-color: #155799;
    background-image: linear-gradient(120deg,#155799,#159957);
    .wrapper-inner {

        .contact-box__container {
            display: flex;
            flex-wrap: wrap;

            @include breakpoint(mobile) {
                flex-direction: column;
            }

            .contact-box__container--item {
                flex: 1 1 calc(50% - 40px);
                margin: 5px;
                padding: 10px;
                background-color: $ltGray;
            }

            .contact-box__container--left {
                background: url("./../src/img/bg-wire.svg") center;
                @include flexCHV;

                @include breakpoint(mobile) {
                    background: none;
                }
            }

            .contact-box__container--right {

                background: url("./../src/img/bg-wire.svg") center;

                .contact-box-form {
                    span.contact-box-form__title {
                        display: flex;
                        background-color: $blue;
                        text-transform: uppercase;
                        color: #fff;
                        font-family: ns,Roboto,sans-serif;
                        font-size: 24px;
                        line-height: 1.2;
                        padding: 15px;

                        @include breakpoint(mobile) {
                            font-size: 17px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .contact-box-input {
                        width: 100%;

                        .input1 {
                            width: 100%;
                            padding: 15px;
                            margin: 10px 0;
                        }    
        
                        // textarea
                        textarea.input1 {
                            min-height: 150px;
                        }
                    }

                    .contact-box-form__container {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        padding: 20px 0 20px 20px;

                        @include breakpoint(mobile) {
                            padding: 20px 0;
                        }

                        button.contact-box-form__btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40%;
                            background-color: rgba(20, 75, 143, 0.7);
                            color: $white;
                            padding: 5px;
                            transition: all 0.3s ease-in-out;
                            
                            @include breakpoint(mobile) {
                                width: 100%;
                            }

                            span {
                                font-family: "Roboto", sans-serif;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 10px;
                                span {
                                    padding: 0;
                                }

                                svg {
                                    height: 25px;
                                    height: 25px;
                                    fill: $white;
                                }
                            }
                        }

                        .hvr-sweep-to-right:before {
                            background: #155799;
                        }
                    }
                    
                }
            }
        }
    }
}

